body {
  font-family: Arial;
  margin: 0;
  background: #f5f9fc;
}

.hero {
  padding: 80px;
  text-align: center;
  background: linear-gradient(135deg,#002b45,#0077b6);
  color: white;
}

.section {
  padding: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-5px);
}
